.login-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
}

.login-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-base-axa-blue);
  margin-bottom: 0.5rem;
}

.login-description {
  color: #4b5563;
}

.login-footer {
  background-color: #e5e7eb;
  padding: 1rem 0;
  text-align: center;
  color: #4b5563;
  font-size: 0.875rem;
}

.logo img {
    margin: auto;
}