.button {
    font: var(--typography-text-small);
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    min-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--color-ui-design-white);
    background-color: var(--color-base-axa-blue);
    cursor: pointer;
    opacity: 1;
    transition: var(--animation-transition-standard);
    border-radius: var(--radius-base-medium);

    &:hover,
    &:focus-visible {
        text-decoration: none;
        background-color: var(--color-misc-deep-sapphire);
        color: var(--color-ui-design-white);
    }
}
