.icon {
  display: block;
  object-fit: contain;
}

.icon.small {
  width: 1rem;
  height: 1rem;
}

.icon.medium {
  width: 1.25rem;
  height: 1.25rem;
}

.icon.large {
  width: 1.5rem;
  height: 1.5rem;
}

.icon.white {
  filter: brightness(0) saturate(100%) invert(1);
}