


.statuses {
    display: flex;
    --arrow-color: var(--color-greyscale-5);
    margin-bottom: 40px;

    .status {
        background: var(--arrow-color);
        color: var(--color-greyscale-2);
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 50px;
        font: var(--typography-text-large);
        font-weight: 900;
        display: flex;
        gap: 5px;
        position: relative;

        &:nth-child(1) {
            z-index: 9;
        }
        &:nth-child(2) {
            z-index: 8;
        }
        &:nth-child(3) {
            z-index: 7;
        }
        &:nth-child(4) {
            z-index: 6;
        }
        &:nth-child(5) {
            z-index: 5;
        }

        &.active {
            --arrow-color: var(--color-base-axa-blue);
            background: var(--color-base-axa-blue);
            color: var(--color-ui-design-white);
        }

        &.done {
            --arrow-color: var(--color-status-info);
            background: var(--color-status-info);
            color: var(--color-ui-design-white);
        }
        &:after {
            content: '';
            width: 10px;
            height: 100%;
            position: absolute;
            left: 100%;
            background: var(--arrow-color);
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }

        &:before {
            content: '';
            width: 10px;
            height: 100%;
            position: absolute;
            right: calc(100% - 10px);
            background: var(--color-ui-design-white);
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }
    }
}

.content {
    h2 {
        color: var(--color-base-axa-blue);
        margin-bottom: 20px;
    }

    h4 {
    }
}

.text {
    --border-color-highlight: var(--color-base-axa-blue);

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        margin-top: 50px;

        tr {
            border: 1px solid transparent;
            box-sizing: border-box;
            display: table-row;
            transition: var(--animation-transition-standard);
            transition-property: height, opacity;
            height: 50px;
            opacity: 1;

            @starting-style {
                opacity: 0;
            }

            &:last-child {
                border-bottom: 1px solid var(--color-ui-design-mercury);
            }

            &:has(th) {
                height: auto;
            }

            &.scrollTop {
                border: 0;
                height: 0;

                td {
                    padding: 0;
                    border: none;
                }

                .scrollRef {
                    position: absolute;
                    top: -45px;
                }
            }

            &.processing {
                opacity: 0.5;
                animation: pulse 1.5s infinite;
                pointer-events: none;
            }

            &.editing {
                border: none;
                height: 60px;
                overflow: hidden;

                @starting-style {
                    height: 0;
                    translate: 0 -100%;

                    .actions {
                        height: 0;
                    }
                }
            }

            &.active {
                background-color: color(from var(--color-base-axa-blue) srgb r g b / 0.05);
            }

            thead & {
                border: 1px solid transparent;
                display: table-row;

                .fixedHeader & {
                    border: 0;
                }
            }

            tbody & {
                &:hover,
                &:active,
                &:focus,
                &:focus-visible,
                &.deleting,
                &.editing,
                &.error,
                &.errorMessage {
                    outline-color: var(--border-color-highlight);

                    td {
                        border-top: solid 1px var(--border-color-highlight);
                        border-bottom: solid 1px var(--border-color-highlight);

                        &:first-child {
                            border-left: solid 1px var(--border-color-highlight);
                        }
                        &:last-child {
                            border-right: solid 1px var(--border-color-highlight);
                        }
                    }
                }

                &.error,
                &.error td {
                    border-bottom: none;
                }

                &.errorMessage,
                &.errorMessage td {
                    border-top: none;
                    overflow: hidden;

                    @starting-style {
                        opacity: 0;
                        padding: 0;
                        height: 0;
                    }
                }
            }

            th,
            td {
                position: relative;
                display: table-cell;
                padding: 0 15px;
                border-top: 1px solid var(--color-ui-design-mercury);
                transition: var(--animation-transition-standard);
                /*noinspection CssUnknownProperty*/
                transition-behavior: allow-discrete;

                &:first-child {
                    padding-left: 14px;
                    border-left: 1px solid transparent;
                }

                &:last-child {
                    border-right: 1px solid transparent;
                }

                .noData & {
                    padding: var(--spacing-base-3) 0;
                    transition: var(--animation-transition-standard);
                    pointer-events: none;

                    @starting-style {
                        opacity: 0;
                    }
                }

                &.actionsCell {
                    padding: 2px 10px;
                    width: 75px;

                    .actions {
                        display: flex;
                        justify-content: flex-end;
                        align-items: stretch;
                        gap: var(--spacing-base-2);
                        opacity: 0;
                        transition: var(--animation-transition-standard);

                        tr:hover &,
                        tr:focus &,
                        &.active {
                            opacity: 1;
                        }

                        .action {
                            transition: var(--animation-transition-standard);

                            &:hover {
                                translate: 0 -3px;
                            }
                        }
                    }
                }

                .errorMessage & {
                    padding-top: 0;
                    padding-bottom: 5px;
                    height: 20px;
                }

                .deletionWarning,
                .errorWrapper {
                    color: var(--border-color-highlight);
                    display: flex;
                    gap: var(--spacing-base-2);
                    justify-content: center;
                    align-items: center;
                    transition: var(--animation-transition-standard);
                    /*noinspection CssUnknownProperty*/
                    transition-behavior: allow-discrete;
                    opacity: 1;

                    @starting-style {
                        height: 0;
                        opacity: 0;
                    }
                }

                .input {
                    display: none;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    translate: 0 -50%;
                    width: calc(100% - 10px);
                    z-index: 1;
                    opacity: 0;
                    transition: var(--animation-transition-standard);
                    transition-delay: 0.1s;
                    /*noinspection CssUnknownProperty*/
                    transition-behavior: allow-discrete;

                    tr.editing & {
                        opacity: 1;
                        display: block;

                        @starting-style {
                            opacity: 0;
                        }
                    }

                    input {
                        font: inherit;
                        padding-left: 10px;
                    }
                }

                .dropdown button {
                    padding-left: 10px;
                }
            }

            th {
                color: var(--color-base-axa-blue);
                user-select: none;
                text-align: left;
                line-height: 1.2;
                vertical-align: bottom;
                padding-top: 10px;
                padding-bottom: 10px;

                &:focus-visible {
                    outline-color: var(--border-color-highlight);
                    outline-offset: -1px;
                }

                .columnTitle {
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    gap: 5px;
                    line-height: 1;

                    .arrowWrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-top: 2px;

                        .arrow {
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top-style: solid;
                            border-bottom-style: solid;
                        }

                        .arrowUp {
                            border-bottom-width: 4px;
                            border-bottom-color: var(--color-ui-design-silver);
                            border-top: none;
                        }

                        .arrowDown {
                            border-top-width: 4px;
                            border-top-color: var(--color-ui-design-silver);
                            border-bottom: none;
                        }
                    }
                }

                .addButtonWrapper {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    opacity: 1;
                    pointer-events: auto;
                    transition: var(--animation-transition-standard);

                    .editing & {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                .fixedHeader & {
                    position: sticky;
                    top: 0;
                    z-index: 2;
                    border: 0;
                    background-color: var(--color-ui-design-white);
                    box-shadow:
                        inset 0 -1px 0 0 var(--color-ui-design-mercury),
                        inset 0 1px 0 0 var(--color-ui-design-mercury);

                    /* Correction for border render-order with sticky header */
                    &:first-child::before,
                    &:last-child::before {
                        content: '';
                        position: absolute;
                        left: -1px;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: var(--color-ui-design-white);
                    }
                }
                .editing &,
                &[aria-sort='none'] {
                    pointer-events: none;
                }

                .arrowWrapper,
                .arrowDown,
                .arrowUp {
                    transition: var(--animation-transition-standard);
                }

                .editing & .arrowWrapper,
                &[aria-sort='none'] .arrowWrapper,
                .editing & .arrowWrapper {
                    opacity: 0;
                }



                &[aria-sort='ascending'] {
                    &:active,
                    &:focus {
                        .arrow {
                            border-top-color: var(--color-base-axa-blue);
                        }
                    }

                    &.selected {
                        .arrow {
                            border-bottom-color: var(--color-base-axa-blue);
                        }

                        .arrowDown {
                            opacity: 0;
                        }
                    }
                }

                &[aria-sort='descending'] {
                    &:active,
                    &:focus {
                        .arrow {
                            border-bottom-color: var(--color-base-axa-blue);
                        }
                    }

                    &.selected {
                        .arrow {
                            border-top-color: var(--color-base-axa-blue);
                        }

                        .arrowUp {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
