.page {
    min-height: 100vh;

    .pageBody {
        /*padding: var(--spacing-base-9);*/
        position: relative;
    }
}

.navBar {
    padding: 0 var(--spacing-base-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: var(--shadow-box-default);
    min-height: 100px;

    .logo {
        display: flex;
        gap: var(--spacing-base-4);
        align-items: center;
        width: 65px;
        cursor: pointer;
        transition: var(--animation-transition-standard);

        &:hover {
            scale: 1.05;
        }

        h5 {
            margin: 0;
            color: var(--color-base-axa-blue);
        }
    }

    .menu {
        display: flex;
        overflow: hidden;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -5px;
            height: 1px;
            anchor-name: --hovered;
        }

        &:after {
            transition: var(--animation-transition-standard);
            content: '';
            position: absolute;
            position-anchor: --hovered;
            display: block;
            height: 5px;
            bottom: anchor(bottom);
            left: calc(anchor(left) + var(--spacing-base-5));
            width: calc(anchor-size(width) - calc(var(--spacing-base-5) * 2));
            background-color: var(--color-status-warning);
            border-radius: 2px;
        }
        .item {
            height: 100px;
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 var(--spacing-base-5);

            &.active {
                font-weight: 700;
            }

            &:hover,
            :not(:has(:hover)) &.active {
                text-decoration: none;
                anchor-name: --hovered;
            }
        }
    }
    /* re-add profile avatar in the right corner purely via CSS (no App.tsx changes) */
    .profile {
        display: flex;

        text-align: right;
        gap: 50px;

        .left {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: var(--color-base-axa-blue);
            gap: 5px;
        }

        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;

            transition: var(--animation-transition-standard);




        }
            .name {
                color: var(--color-base-axa-blue);
                font-size: 13px;
            }

        .text {

            text-align: right;
            color: var(--color-base-axa-blue);
            font-weight: 900;
            font-size: 20px;
        }

        a {
            display: block;
            color: var(--color-base-axa-blue);
            text-decoration: underline;
            text-underline-offset: 2px;
            font-weight: 400;
            transition: var(--animation-transition-standard);
            transform-origin: right;
            cursor: pointer;

            &:hover {
                scale: 1.05;
                text-decoration: underline;

                color: var(--color-base-axa-blue);
            }
        }
    }
}

.stammdaten {
    pointer-events: none;
    position: absolute;
    top: 75px;
    right: 160px;
    max-width: 80%;
    opacity: 0;
    translate: 10px -10px;
    transition: all 0.3s ease-in-out;

    @starting-style {
        opacity: 0;
        translate: 10px -10px;
    }

    &.visible {
        opacity: 1;
        translate: 0 0;
        pointer-events: all;
    }
}
