/* https://github.com/axa-ch/design-tokens */

@font-face {
    font-family: Publico Headline;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('./assets/fonts/publico-headline-700.woff2') format('woff2');
}

@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/source-sans-pro-variable.woff2') format('woff2');
}

/* Breakpoints edited to work without SASS */

:root {
    --breakpoints-base-xtra-small: 0;
    --breakpoints-base-small: 576px;
    --breakpoints-base-medium: 768px;
    --breakpoints-base-large: 992px;
    --breakpoints-base-xtra-large: 1200px;
    --breakpoints-base-xtra-xtra-large: 1440px;
}

:root {
    --animation-duration-small: 0.1s;
    --animation-duration-medium-expanding: 0.25s;
    --animation-duration-medium-collapsing: 0.2s;
    --animation-duration-large-expanding: 0.3s;
    --animation-duration-large-collapsing: 0.2s;
    --animation-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-easing-decelerated: cubic-bezier(0, 0, 0.2, 1);
    --animation-easing-accelerated: cubic-bezier(0.4, 0, 1, 1);
    --animation-transition-standard: all var(--animation-duration-medium-expanding) var(--animation-easing-standard);
}

/* Colors edited to align with UI-Kit */

:root {
    --color-base-axa-blue: #00008f;
    --color-base-axa-red: #ff1721;
    --color-greyscale-0: #000000;
    --color-greyscale-1: #333333;
    --color-greyscale-2: #5f5f5f;
    --color-greyscale-3: #7f7f7f;
    --color-greyscale-4: #999999;
    --color-greyscale-5: #cccccc;
    --color-greyscale-6: #e5e5e5;
    --color-greyscale-7: #f5f5f5;
    --color-greyscale-8: #fafafa;
    --color-greyscale-9: #ffffff;
    --color-misc-deep-sapphire: #00005b;
    --color-misc-ocean-blue: #4976ba;
    --color-misc-teal: #027180;
    --color-misc-viridia-green: #668980;
    --color-misc-pacific: #00adc6;
    --color-misc-greyjoy: #9fbeaf;
    --color-misc-aqua-green: #9fd9b4;
    --color-misc-tosca: #914146;
    --color-misc-azalea: #e196aa;
    --color-misc-cotton-candy: #fad6de;
    --color-misc-apache: #bc9d45;
    --color-misc-dune: #fcd385;
    --color-misc-acid: #f0ff93;
    --color-misc-logan: #9190ac;
    --color-misc-igloo: #b5d0ee;
    --color-status-malachite: #1cc54e;
    --color-status-shy-tomato: #c91432;
    --color-ui-design-burnt-sienna: #f07662;
    --color-ui-design-flamingo: #ec4d33;
    --color-base-axa-blue-20: #cccce9;
    --color-base-axa-blue-dark: #000072;
    --color-base-axa-blue-light: #4040ab;
    --color-base-axa-red-20: #ffd1d3;
    --color-base-axa-red-dark: #cc121a;
    --color-base-axa-red-light: #ff5159;
    --color-misc-ocean-blue-20: #dbe4f1;
    --color-misc-ocean-blue-dark: #3a5e95;
    --color-misc-ocean-blue-light: #7798cb;
    --color-misc-teal-20: #cce3e6;
    --color-misc-teal-dark: #025a66;
    --color-misc-teal-light: #4195a0;
    --color-misc-viridia-green-20: #e0e7e6;
    --color-misc-viridia-green-dark: #526e66;
    --color-misc-viridia-green-light: #8ca7a0;
    --color-misc-pacific-20: #cceff4;
    --color-misc-pacific-dark: #008a9e;
    --color-misc-pacific-light: #40c2d4;
    --color-misc-greyjoy-20: #ecf2ef;
    --color-misc-greyjoy-dark: #7f988c;
    --color-misc-greyjoy-light: #b7cec3;
    --color-misc-aqua-green-20: #ecf7f0;
    --color-misc-aqua-green-dark: #7fae90;
    --color-misc-aqua-green-light: #b7e3c7;
    --color-misc-tosca-20: #e9d9da;
    --color-misc-tosca-dark: #743438;
    --color-misc-tosca-light: #ad7174;
    --color-misc-azalea-20: #f9eaee;
    --color-misc-azalea-dark: #b47888;
    --color-misc-azalea-light: #e9b0bf;
    --color-misc-cotton-candy-20: #fef7f8;
    --color-misc-cotton-candy-dark: #c8abb2;
    --color-misc-cotton-candy-light: #fbe0e6;
    --color-misc-apache-20: #f2ebda;
    --color-misc-apache-dark: #967e37;
    --color-misc-apache-light: #cdb674;
    --color-misc-dune-20: #fef6e7;
    --color-misc-dune-dark: #caa96a;
    --color-misc-dune-light: #fddea4;
    --color-misc-acid-20: #fcffe9;
    --color-misc-acid-dark: #c0cc76;
    --color-misc-acid-light: #f4ffae;
    --color-misc-logan-20: #e9e9ee;
    --color-misc-logan-dark: #74738a;
    --color-misc-logan-light: #adacc1;
    --color-misc-igloo-20: #f0f6fc;
    --color-misc-igloo-dark: #91a6be;
    --color-misc-igloo-light: #c8dcf2;
    --color-status-malachite-20: #d2f3dc;
    --color-status-malachite-dark: #169e3e;
    --color-status-malachite-light: #55d47a;
    --color-status-shy-tomato-20: #f4d0d6;
    --color-status-shy-tomato-dark: #a11028;
    --color-status-shy-tomato-light: #d74f65;
    --color-status-success: #138636;
    --color-status-success-light: #35C549;
    --color-status-warning: #f19226;
    --color-status-error: #c91432;
    --color-status-error-light: #ff3a3a;
    --color-status-info: #4976ba;
    --color-status-muted: var(--color-greyscale-3);
    --color-ui-design-axa-blue: var(--color-base-axa-blue);
    --color-ui-design-burnt-sienna-20: #fce4e0;
    --color-ui-design-burnt-sienna-dark: #c05e4e;
    --color-ui-design-burnt-sienna-light: #f49889;
    --color-ui-design-black: var(--color-greyscale-0);
    --color-ui-design-dark-grey: var(--color-greyscale-1);
    --color-ui-design-medium-grey: var(--color-greyscale-2);
    --color-ui-design-grey: var(--color-greyscale-3);
    --color-ui-design-light-grey: var(--color-greyscale-4);
    --color-ui-design-silver: var(--color-greyscale-5);
    --color-ui-design-mercury: var(--color-greyscale-6);
    --color-ui-design-wild-sand: var(--color-greyscale-7);
    --color-ui-design-alabaster: var(--color-greyscale-8);
    --color-ui-design-white: var(--color-greyscale-9);
    --color-ui-design-axa-blue-20: var(--color-base-axa-blue-20);
    --color-ui-design-axa-blue-dark: var(--color-base-axa-blue-dark);
    --color-ui-design-axa-blue-light: var(--color-base-axa-blue-light);
}

:root {
    --radius-base-small: 0.25rem;
    --radius-base-medium: 0.5rem;
    --radius-base-large: 1rem;
}

/* Shadows edited to remove duplicates */

:root {
    --shadow-box-default: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
    --shadow-box-high: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Spacings edited to align with UI-Kit */

:root {
    --spacing-base-1: 0.25rem;
    --spacing-base-2: 0.5rem;
    --spacing-base-3: 0.75rem;
    --spacing-base-4: 1rem;
    --spacing-base-5: 1.5rem;
    --spacing-base-6: 2rem;
    --spacing-base-7: 2.5rem;
    --spacing-base-8: 3rem;
    --spacing-base-9: 4rem;
    --spacing-base-10: 5rem;
    --spacing-base-11: 6rem;
}

/* Typography edited for more consistency */

:root {
    --typography-font-family-primary: 'Source Sans Pro';
    --typography-font-family-secondary: 'Publico Headline';
    --typography-font-family-primary-fallback-1: Arial;
    --typography-font-family-secondary-fallback-1: Georgia;
    --typography-font-family-primary-fallback-2: sans-serif;
    --typography-font-family-secondary-fallback-2: serif;
    --typography-font-size-1: 0.875rem;
    --typography-font-size-2: 1rem;
    --typography-font-size-3: 1.125rem;
    --typography-font-size-4: 1.25rem;
    --typography-font-size-5: 1.5rem;
    --typography-font-size-6: 1.75rem;
    --typography-font-size-7: 1.875rem;
    --typography-font-size-8: 2.25rem;
    --typography-font-size-9: 3rem;
    --typography-font-size-10: 3.875rem;
    --typography-line-height-1: 1.111;
    --typography-line-height-2: 1.125;
    --typography-line-height-3: 1.133;
    --typography-line-height-4: 1.142;
    --typography-line-height-5: 1.161;
    --typography-line-height-6: 1.166;
    --typography-line-height-7: 1.208;
    --typography-line-height-8: 1.214;
    --typography-line-height-9: 1.3;
    --typography-line-height-10: 1.5;
    --typography-margin-h1-top: 2.5rem;
    --typography-margin-h1-bottom: 1.25rem;
    --typography-margin-h2-top: 2.5rem;
    --typography-margin-h2-bottom: 1.25rem;
    --typography-margin-h3-top: 1.75rem;
    --typography-margin-h3-bottom: 1rem;
    --typography-margin-h4-top: 1.75rem;
    --typography-margin-h4-bottom: 1rem;
    --typography-margin-h5-top: 1.25rem;
    --typography-margin-h5-bottom: 0.75rem;
    --typography-margin-h6-top: 1.25rem;
    --typography-margin-h6-bottom: 0.75rem;
    --typography-margin-text-1-bottom: 1.75rem;
    --typography-margin-text-2-bottom: 1.75rem;
    --typography-margin-text-3-bottom: 1.25rem;
    --typography-margin-text-4-bottom: 1.25rem;
    --typography-primary-h1: 700 3.875rem/1.161 'Source Sans Pro', Arial, sans-serif;
    --typography-primary-h2: 700 3rem/1.125 'Source Sans Pro', Arial, sans-serif;
    --typography-primary-h3: 700 2.25rem/1.166 'Source Sans Pro', Arial, sans-serif;
    --typography-primary-h4: 700 1.75rem/1.142 'Source Sans Pro', Arial, sans-serif;
    --typography-primary-h5: 700 1.5rem/1.208 'Source Sans Pro', Arial, sans-serif;
    --typography-primary-h6: 700 1.25rem/1.3 'Source Sans Pro', Arial, sans-serif;
    --typography-secondary-h1: 700 3.875rem/1.161 'Publico Headline', Georgia, serif;
    --typography-secondary-h2: 700 3rem/1.125 'Publico Headline', Georgia, serif;
    --typography-secondary-h3: 700 2.25rem/1.166 'Publico Headline', Georgia, serif;
    --typography-secondary-h4: 700 1.75rem/1.142 'Publico Headline', Georgia, serif;
    --typography-secondary-h5: 700 1.5rem/1.208 'Publico Headline', Georgia, serif;
    --typography-secondary-h6: 700 1.25rem/1.3 'Publico Headline', Georgia, serif;
    --typography-text-small: 400 0.875rem/1.214 'Source Sans Pro', Arial, sans-serif;
    --typography-text-regular: 400 1rem/1.5 'Source Sans Pro', Arial, sans-serif;
    --typography-text-large: 400 1.125rem/1.5 'Source Sans Pro', Arial, sans-serif;
    --typography-text-xtra-large: 400 1.25rem/1.5 'Source Sans Pro', Arial, sans-serif;
}
